@import "tailwindcss";

:root {
  --background: #152238;
  --foreground: #ffffff;
}


@theme {
  --color-primary: #A71F29;
  --color-secondary: #3B71CA;
  --color-background: #152238;
  --color-background-light: #15335C;

  --font-sans: var(--font-outfit);  
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  background-image:
    radial-gradient(circle at 50% 0%, rgba(201, 44, 44, 0.15), transparent 50%),
    radial-gradient(circle at 100% 50%, rgba(59, 113, 202, 0.15), transparent 50%);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}